html,
body {
    margin: 0;
    padding: 0;
}

body {
    color: #fbfcfc;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}

.left-box {
    background-color: #ffffff;
    height: 90vh;
    width: 35vw;
    display: flex;
    box-shadow: 5px 10px 18px #9a7979;
    border-radius: 15px 0 0 15px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.right-box {
    background-color: #fc0467;
    height: 90vh;
    width: 35vw;
    display: flex;
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 10px 18px #7a6868;
    flex-direction: column;
    align-items: center;
}

.form-head {
    margin-top: 35%;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 800;
    color: #ffffff;
}

.small-box {
    display: flex;
    flex-direction: row;
}

.social-icons {
    margin-top: 20px;
    height: 40px;
    width: 40px;
    margin: 20px 15px;
    color: #080000;
    border: 0.3px solid #545151;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-about {
    margin-top: 20px;
    font-family: sans-serif;
    color: #e9e6e6;
}

.sign-up {
    height: 5.5vh;
    width: 11vw;
    border-radius: 15px;
    background-color: #fc0467;
    margin-top: 30px;
    border: 1.5px solid #ffffff;
    font-weight: 600;
    color: #ffffff;
    font-family: sans-serif;
}

.sign-up:hover {
    background-color: #fcfafa;
    cursor: pointer;
    color: #fc0467;
    border: 1.5px solid #fc0467;
}

.form-name {
    margin-top: 20px;
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 800;
    color: #080000;
}

.about {
    color: #7a7878;
    font-family: sans-serif;
    margin-top: 20px;
}

.Email,
.password {
    height: 7vh;
    width: 26vw;
    border: none;
    background-color: #e9e6e6;
    margin-top: 20px;
}

.forgot-password {
    color: #4f4545;
    font-family: sans-serif;
    margin-top: 20px;
}

.sign-in {
    height: 5.5vh;
    width: 11vw;
    border-radius: 15px;
    background-color: #fe055c;
    margin-top: 20px;
    border: none;
    font-weight: 600;
    color: #ffffff;
    font-family: sans-serif;
}

.sign-in:hover {
    background-color: #f8f0f3;
    cursor: pointer;
    color: #f80566;
    border: 1.5px solid #fe0873;
}

@media only screen and (max-width: 595px) {
    body {
        background-color: #deecf8;
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: #deecf8;
        justify-content: center;
        align-items: center;
    }

    .left-box {
        background-color: #fafdfe3e;
        border-radius: 15px;
        display: flex;
        width: 90%;
        margin-top: 30px;
    }

    .right-box {
        background-color: #670329d7;
        border-radius: 15px;
        display: flex;
        width: 90%;
        margin-bottom: 30px;
    }

    .sign-up {
        width: 25vw;
        background-color: #670329d7;
        color: #fff;
    }
    .sign-up:hover {
        background-color: #f8f0f3;
        cursor: pointer;
        color: #670329d7;
        border: 1.5px solid #670329d7;
    }

    .form-name {
        color: #670329d7;
        margin-top: 60px;
    }

    .Email,
    .password {
        width: 18rem;
    }

    .sign-in {
        width: 25vw;
        background-color: #670329d7;
    }
    .sign-in:hover {
        background-color: #f8f0f3;
        cursor: pointer;
        color: #670329d7;
        border: 1.5px solid #670329d7;
    }
}

@media only screen and (max-width: 900px) {
    .right-box {
        height: 40rem;
        border-radius: 15px;
        display: flex;
        width: 24rem;
        margin-bottom: 30px;
    }

    .left-box {
        height: 40rem;
        border-radius: 15px;
        display: flex;
        width: 24rem;
        margin-bottom: 30px;
    }

    .Email,
    .password {
        height: 3rem;
        width: 20rem;
    }

    .sign-in {
        height: 3rem;
        width: 12rem;
    }

    .sign-up {
        height: 3rem;
        width: 12rem;
    }
}